@model IEnumerable<JeisonAdarme.BLL.DataBase.Empleado>

@if (Model.Any())
{
    <div class="col-lg-8 col-lg-offset-2 table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>
                    Nombre Colaborador
                </th>
                <th>
                    Número telefónico
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCelular)
                    </td>
                    <td>
                        <a data-ajax="true" data-ajax-begin="showLoading" data-ajax-failure="hideLoadingError"
                           data-ajax-method="Get" data-ajax-mode="replace" data-ajax-success="hideLoading" data-ajax-update="#CreateTypeServices"
                           href="@Url.Action("Delete", "Home", new { id = item.GUID })">
                            Desactivar
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
}
