
    <!-- Portfolio Grid Section -->
<section id="ingresa">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ingresa</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            @{
                Html.RenderPartial("_Login");
                Html.RenderPartial("_Register");
            }
        </div>
    </div>
</section>

    <script>
            $(document).ready(function(){
                $('#btnRegister').click(function(){
                    $('#login').hide();
                    $('#register').show();
                });

                $('#btnLogin').click(function(){
                    $('#register').hide();
                    $('#login').show();
                });
            });
    </script>
